@use "../settings/variables";


.container {
margin-top: 50px;
}

.benefits {
  background-color: variables.$color-light-grey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.benefits__single {
  background-color: variables.$color-white;
  border: 1px solid white;
  margin-bottom: 37px;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.benefits__text {
  box-sizing: border-box;
  max-width: 415px;
  margin: 90px 36px;
  text-align: center;
}


.benefits__description {
  margin-top: 30px;
  line-height: 1.375rem;
}

.benefits__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__image img {
  position: relative;
  z-index: 2;
}


.benefits__single--notebook .benefits__image {
  margin-inline: auto;
  margin-bottom: 38px;
  margin-top: 200px;
}

.benefits__single--notebook .benefits__image::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: variables.$color-red;
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}

.benefits__single--notebook .benefits__image img {
  width: 386px;
  height: auto;
  position: relative;
  z-index: 2;
}


.benefits__single--phone {
  flex-direction: column-reverse;
  padding: 0 20px 0 70px;
  margin-top: 50px;
}


.benefits__single--phone .benefits__image::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: variables.$color-primary;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -20px;
  margin-top: 50px;
}

.benefits__single--phone .benefits__image img {
  width: 426px;
  height: auto;
}

.benefits__single--phone .benefits__text {
  margin: 70px 0;
}

.benefits__double {
  display: flex;
  flex-direction: column;
}

.benefits__double > div {
  margin-bottom: 0;
}

.benefits__single--solo {
 width: 100%;
 text-align: center;
}

.benefits__single--solo .benefits__text {
  max-width: none;
  margin: 70px 35px;
}


.benefits__single--image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$color-green;
  border: none;
}

.benefits__single--image img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}

@media screen and (width > 800px) {

.benefits__single {
  flex-direction: row;
  justify-content: space-around;
}

.benefits__single--phone {
justify-content: space-around;
flex-direction: row-reverse;
}

.benefits__double {
flex-direction: row;
}

.benefits__single--solo {
 width: 50%;
 margin-right: 20px;
}
  
  .benefits__single--notebook .benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  background: variables.$color-red;
  display: flex;
  margin-top: 50px;
  margin-inline: auto;
}

  .benefits__single--phone .benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  background: variables.$color-primary;
  display: block;
  margin-top: 50px;
  margin-inline: auto;
}

.benefits__single--solo .benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  display: block;
  background: variables.$color-green;
  margin-top: 50px;
  margin-inline: auto;
}

}
