@use "../settings/variables";

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact__column {
  width: 100%;
}

.contact__title {
  font-size: 3.0625rem;
  line-height: 3.6875rem;
}

.contact__instruction {
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 1.375rem;
}

.contact__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: variables.$color-grey;
  gap: 10px;
  margin-bottom: 50px;
}

.details__item {
  color: variables.$color-grey;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.details__item:first-of-type {
  margin-right: 20px;
}

.details__item img {
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__field:first-of-type {
  margin-bottom: 42px;
}

.form__label {
  font-weight: bold;
  text-transform: uppercase;
  color: variables.$color-primary;
  line-height: 0.9rem;
  letter-spacing: 3px;
  font-size: 0.6875rem;
}

.form__input {
  border: none;
  border-bottom: 1px solid variables.$color-grey;
  background-color: transparent;
  line-height: 2.625rem;
}

.form__consent {
  margin-top: 30px;
}

.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}

.form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form__checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: variables.$color-white;
  border: 1px solid variables.$color-grey;
  border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
  background-image: url(../images/Checkmark.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.form__checkbox .consent__text {
  margin: 0 10px;
  font-size: 0.75rem;
  color: variables.$color-grey;
  line-height: 17px;
}

@media screen and (width > 800px) {

.contact {
  padding:100px 100px;
  justify-content: center;
  flex-direction: row;
}

.contact__details {
flex-direction: row;
}
}
