@use "../settings/variables";

.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pricing__box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing__type {
  font-size: 1.25rem;
  font-family: variables.$font-raleway;
  font-weight: 700;
}

.pricing__price {
  font-size: 2.875rem;
  font-family: variables.$font-open;
  font-weight: 300;
  margin-top: 25px;
}

.pricing__limited {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: variables.$font-raleway;
  font-weight: 700;
}

.pricing__items {
  text-align: center;
  align-items: center;
}

.pricing__item {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../images/Checkmark-1.svg");
}

.pricing__item--not::before {
  background-image: url("../images/Close.svg");
}

.pricing__box .btn {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
}

.pricing__box--basic {
border: 1px solid variables.$color-red;
}

.pricing__box--basic .pricing__price {
  margin-bottom: 30px;
  color: variables.$color-green;
}



.pricing__box--professional {
  border: 1px solid variables.$color-primary;
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px variables.$shadow;
}

.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}

.pricing__box--professional .pricing__price {
  color: variables.$color-primary;
}

.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}

.pricing__box--premium {
  border: 1px solid variables.$color-green;
}

.pricing__box--premium .pricing__price {
color: variables.$color-green;
}
