@use "../settings/variables";


.menu__toggle {
display: none;
position: absolute;
top: -999px;
left: -999px;
opacity: 0;
}

.menu__icon {
    display: block;

    span {
    width: 30px;
    height: 4px;
    display: block;
    margin-bottom: 5px;
    background: variables.$color-primary;

    &:last-child {
    margin-bottom: 0;
    }
    }
  
}

.header__nav {
display: none;
list-style: none;
background: white;
padding: 0;
position: absolute;
top: 100%;
left: 0;
}
.menu__toggle:checked ~ .header__nav {
display: flex;
flex-direction: column;
width: 100%;
padding-top: 20px;
box-shadow: 0 3px 6px rgba(0,0,0,.16);

.nav__element {
border-bottom: none;
width: 100%;
}
}

.nav__element {
border-bottom: 1px solid silver;
}

.nav__link {
    display: block;
padding: 1em 1em;
text-decoration: none;
 color: variables.$color-grey;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 2em;

&:hover {
color: black;
}
}



@media screen and (width > 1352px) {  
.header__nav {
  display: flex;
  position: static;
}

.menu__icon {
display: none;
}

.nav__element {
  padding: 0 26px;
}

li {
list-style: none;
}

.nav__element:last-child {
  padding-right: 0;
}

.nav__link {
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
}

.nav__link:hover {
  color: variables.$color-black;
  border-color: variables.$color-primary;
}
}


